@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Satoshi Black";
  src: local("Satoshi Black"),
    url("./font/Satoshi-Black.otf") format("opentype");
}
@font-face {
  font-family: "Satoshi Bold";
  src: local("Satoshi Bold"), url("./font/Satoshi-Bold.otf") format("opentype");
}
@font-face {
  font-family: "Satoshi Italic";
  src: local("Satoshi Italic"),
    url("./font/Satoshi-Italic.otf") format("opentype");
}
@font-face {
  font-family: "Satoshi Light";
  src: local("Satoshi Light"),
    url("./font/Satoshi-Light.otf") format("opentype");
}
@font-face {
  font-family: "Satoshi Medium";
  src: local("Satoshi Medium"),
    url("./font/Satoshi-Medium.otf") format("opentype");
}
@font-face {
  font-family: "Satoshi Regular";
  src: local("Satoshi Regular"),
    url("./font/Satoshi-Regular.otf") format("opentype");
}

@layer base {
  h1 {
    @apply text-2xl;
    font-family: "Satoshi Bold";
  }

}

@layer components {
  .body {
    @apply text-white w-[100%];
    font-family: "Satoshi Regular";
  }
  .card {
    @apply h-[120vh] w-[100%] bg-[#121B27] ;
  }
  .card2 {
    @apply h-[120vh] w-[100%] bg-[#121B27] ;
  }

  .btn {
    @apply rounded-full py-2 px-3 mt-[8px] w-[443px] h-[52px] text-xs cursor-pointer tracking-wider  bg-gradient-to-r from-[#5404FF] to-[#BD3BD2];
  }
  .btn2 {
    @apply rounded-full py-2 px-3 mt-[8px] w-[190px] h-[50px] text-xs cursor-pointer tracking-wider border border-blue border-x-pink-500 border-t-pink-500 ;
  }
  .form {
    @apply flex flex-col justify-center items-center p-4  gap-[10px] w-[633px] h-[90vh]  ;
  }

  .input {
    @apply rounded  text-white shadow-2xl p-2 w-[443px] h-[52px] mt-[8px] bg-[#121B27] border-[1px] border-[#FFFFFF];
  }
  .textarea {
    @apply w-[443px] h-[128px]  rounded shadow-2xl p-[10px] bg-[#121B27] border-[1px] border-[#FFFFFF] ;
  }
  .hr {
    @apply w-[1240px] border left-[100px] top-[1155px]  border-[#FFFFFF] mt-6 flex justify-center items-center;
  }
  .footer {
    @apply  flex justify-between w-[1240px] h-[68px] left-[100px] top-[1155px] text-center mt-[10px] p-[10px];
  }
 
}
